        *{
            margin: 0;
            padding: 0;
        }
        html{
            text-align: center;
            font-family: Poppins, 'Segoe UI', sans-serif;
        }

        nav{
            position: fixed;
            top: 0;
            width: 100%;
            padding: 25px;
            border-bottom: 2px solid #e3e3e3;
        }
        nav a{
            text-decoration: none;
            color: #929292;
            margin: 0 20px;
            
        }
        nav a:hover{
            color: black;
            
        }
        nav a.active{
            color: black;
        }
        header{
            padding-top:calc(50px + 1rem + 2px);
        }
        h1{
            margin-top: 100px;
            font-size: 3.74rem;
            font-weight: bold;
            line-height: 1.2em;
        }
        h1 + p{
            width: 800px;
            margin: 35px auto;
        }
        #cta-button{
            text-decoration: none;
            text-transform: uppercase;
            background: linear-gradient(to right,#D786FF, #722CFF);
            display: inline-block;
            padding: 1em 3em;
            border-radius: 25px;
            font-weight: 600;
            border-radius: 1000px;
            transition: 150ms ease;
        }
        #cta-button:hover{
            scale: 1.1;
        }
        .vp{
            margin-top: 30px;
            width: min(1100px ,100%);
            aspect-ratio: 16 / 9;
            border-radius: 15px;
        }